.hero {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 2rem;
    h1 {
        font: $rubikBold;
        font-size: 48px;
        margin: 1rem 0;
    }
    p {
        font: $rubik;
        margin: 1rem 0;    
    }
}