footer {
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    i {
        margin: 1rem;
        color: $white;
        font-size: 36px;
        transition: text-shadow 0.50s ease-in ,color 0.50s ease-in;
        text-shadow: 0 0 1px $white;
        &:hover {
            color: $secondaryColor;
        }
    }
}