// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

$rubikLight: 300 16px 'Rubik', sans-serif;
$rubik: 400 24px 'Rubik', sans-serif;
$rubikBold: 700 36px 'Rubik', sans-serif;

// Colors
$primaryColor: #FF4242;
$secondaryColor: #23A9A9;
$black: #000000;
$white: #F7F7FF;