@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header, footer {
  flex: none;
}

main {
  flex: 1 0 auto;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 0.75);
  border-radius: 100%;
  max-height: 500px;
}

span {
  font: 400 18px "Rubik", sans-serif;
  color: #23A9A9;
  line-height: 1.3;
}

header {
  width: 100%;
  background-color: #FF4242;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 18px -8px rgba(0, 0, 0, 0.75);
}
header svg {
  margin: 1rem;
}
header svg path:nth-child(2) {
  fill: #FF4242;
}
header svg g {
  fill: #23A9A9;
  stroke: #F7F7FF;
}
header ul {
  display: flex;
}
header ul li {
  margin: 1rem 2rem;
}
header ul li a {
  text-decoration: none;
  color: #F7F7FF;
  font: 400 18px "Rubik", sans-serif;
}

footer {
  background-color: #FF4242;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer i {
  margin: 1rem;
  color: #F7F7FF;
  font-size: 36px;
  transition: text-shadow 0.5s ease-in, color 0.5s ease-in;
  text-shadow: 0 0 1px #F7F7FF;
}
footer i:hover {
  color: #23A9A9;
}

.view-site-button, .learn-more-button {
  display: inline-block;
  color: #000000;
  font: 300 16px "Rubik", sans-serif;
  text-decoration: none;
  background: none;
  border-bottom: 5px solid #FF4242;
  transition: color 0.5s linear;
  position: relative;
  padding: 10px 20px;
  margin: 1rem 1rem;
  width: 125px;
  text-align: center;
}
.view-site-button:hover, .learn-more-button:hover {
  color: #F7F7FF;
}
.view-site-button::after, .learn-more-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #23A9A9;
  transform-origin: bottom;
  transition: height 0.5s ease-in;
  z-index: -1;
}
.view-site-button:hover::after, .learn-more-button:hover::after {
  height: 100%;
}

.hero {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 2rem;
}
.hero h1 {
  font: 700 36px "Rubik", sans-serif;
  font-size: 48px;
  margin: 0.5rem 1rem;
}
.hero p {
  font: 400 18px "Rubik", sans-serif;
  margin: 0.5rem 1rem;
}

.work {
  margin: 2rem 2rem;
}
.work h2 {
  font: 700 36px "Rubik", sans-serif;
  grid-column: span 2;
}
.work h3 {
  font: 400 18px "Rubik", sans-serif;
  margin: 1rem 0;
}
.work p {
  font: 300 16px "Rubik", sans-serif;
  margin: 1rem 0;
  line-height: 1.5;
}
.work .work-craft-brewery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
}
.work .work-craft-brewery img {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
}
.work .work-craft-brewery .craft-brewery-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work .work-craft-brewery .craft-brewery-content h3, .work .work-craft-brewery .craft-brewery-content p, .work .work-craft-brewery .craft-brewery-content a {
  grid-row: 1;
  grid-column: 2;
  margin: 1rem 0;
}
.work .work-trestle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
}
.work .work-trestle img {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
}
.work .work-trestle .trestle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work .work-trestle .trestle-content h3, .work .work-trestle .trestle-content p, .work .work-trestle .trestle-content a {
  grid-row: 1;
  grid-column: 1;
  margin: 1rem 0;
}
.work .work-happy-sunshine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
}
.work .work-happy-sunshine img {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
}
.work .work-happy-sunshine .happy-sunshine-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work .work-happy-sunshine .happy-sunshine-content h3, .work .work-happy-sunshine .happy-sunshine-content p, .work .work-happy-sunshine .happy-sunshine-content a {
  grid-row: 1;
  grid-column: 2;
  margin: 1rem 0;
}
.work .work-altJ {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
}
.work .work-altJ img {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
}
.work .work-altJ .altJ-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work .work-altJ .altJ-content h3, .work .work-altJ .altJ-content p, .work .work-altJ .altJ-content a {
  grid-row: 1;
  grid-column: 1;
  margin: 1rem 0;
}

@media screen and (max-width: 68.75em) {
  .work .work-craft-brewery .craft-brewery-content h3, .work .work-craft-brewery .craft-brewery-content p, .work .work-craft-brewery .craft-brewery-content a {
    margin: 0.5rem 1.5rem;
  }
  .work .work-trestle .trestle-content h3, .work .work-trestle .trestle-content p, .work .work-trestle .trestle-content a {
    margin: 0.5rem 1.5rem;
  }
  .work .work-happy-sunshine .happy-sunshine-content h3, .work .work-happy-sunshine .happy-sunshine-content p, .work .work-happy-sunshine .happy-sunshine-content a {
    margin: 0.5rem 1.5rem;
  }
  .work .work-altJ .altJ-content h3, .work .work-altJ .altJ-content p, .work .work-altJ .altJ-content a {
    margin: 0.5rem 1.5rem;
  }
}
@media screen and (max-width: 43.125em) {
  .work .work-craft-brewery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .work .work-trestle {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .work .work-trestle img {
    grid-row: 1;
    grid-column: 1;
  }
  .work .work-happy-sunshine {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .work .work-altJ {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .work .work-altJ img {
    grid-row: 1;
    grid-column: 1;
  }
}
.about {
  margin: 2rem 2rem;
}
.about h2 {
  font: 700 36px "Rubik", sans-serif;
}
.about .about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about .about-content p {
  font: 300 16px "Rubik", sans-serif;
  align-self: center;
  line-height: 1.5;
}
.about .about-content img {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
}

@media screen and (max-width: 68.75em) {
  .about .about-content p {
    margin: 0.5rem 1.5rem;
  }
}
@media screen and (max-width: 43.125em) {
  .about .about-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .about .about-content img {
    grid-row: 2;
    grid-column: 1;
  }
  .about .about-content p {
    margin: 0rem 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
